body,
html {
  font-family: 'Alef', sans-serif !important;
  margin: 0 5vw;
}

#title {
  border: 2px dashed rgb(71, 70, 70);
  display: table;
  margin: 5vh auto;
  margin-top: 1vh;
  width: 100px;
  font-size: 22px;
  font-family: 'Alef', sans-serif;
  cursor: pointer;
  padding: 5px 20px;
}

#expmnt-alert {
  display: table;
  position: absolute;
  padding: 10px 1rem;
  right: 5px;
  top: 5px;
}

#expmnt-alert a {
  color: black;
  border-bottom: 2px solid rgb(0, 0, 0);
  text-decoration: none;
}

#loading-time {
  text-align: center;
  margin-bottom: 2vh;
}

canvas {
  float: left;
  margin-left: calc((100vw - (540px + 200px)) / 2);
}

video {
  margin-left: calc(((100vw - (540px + 200px)) / 2) / 2);
  margin-top: 100px;
  margin-bottom: 150px;
}

.row {
  display: inline-flex;
  float: right;
}

#event-container {
  width: 100%;
  margin-top: 5vh;
  --bs-gutter-x: none;
}

#event-container .row {
  --bs-gutter-x: none;
}

#nav-image-capture {
  margin-top: 10px;
}

.nav-link.active {
  background-color: #e5e9e9;
  color: black;
}

nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link {
  color: black;
  background-color: white;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background-color: #e5e9e9;
  color: black;
  transition: background 0.2s linear;
}

nav > div a.nav-item.nav-link:hover {
  border-radius: 0;
}


