body,
html {
  font-family: 'Alef', sans-serif !important;
  margin: 0 2vw;
}

#title {
  border: 2px dashed rgb(71, 70, 70);
  display: table;
  margin: 5vh auto;
  margin-top: 1vh;
  width: 100px;
  font-size: 22px;
  font-family: 'Alef', sans-serif;
  cursor: pointer;
  padding: 5px 20px;
}

#expmnt-alert {
  display: table;
  position: absolute;
  padding: 10px 1rem;
  right: 5px;
  top: 5px;
}

#expmnt-alert a {
  color: black;
  border-bottom: 2px solid rgb(0, 0, 0);
  text-decoration: none;
}

#loading-time {
  text-align: center;
  margin-bottom: 2vh;
}

canvas {
  float: left;
  margin-left: calc((100vw - (540px + 200px)) / 2);
}

video {
  margin-left: calc(((100vw - (540px + 200px)) / 2) / 2);
  margin-top: 100px;
  margin-bottom: 150px;
}

.row {
  display: inline-flex;
  float: right;
}

#event-container {
  width: 100%;
  margin-top: 5vh;
  --bs-gutter-x: none;
}

#event-container .row {
  --bs-gutter-x: none;
}

#nav-image-capture {
  margin-top: 10px;
}

.nav-link.active {
  background-color: #e5e9e9;
  color: black;
}

nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link {
  color: black;
  background-color: white;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background-color: #e5e9e9;
  color: black;
  transition: background 0.2s linear;
}

nav > div a.nav-item.nav-link:hover {
  border-radius: 0;
}

#chrome-doc-link,
#firefox-doc-link,
#safari-doc-link {
  text-decoration: none;
  color: black;
  padding-bottom: 2px;
}

#chrome-doc-link {
  border-bottom: 3px solid rgb(202, 189, 0);
}

#firefox-doc-link {
  border-bottom: 3px solid rgb(155, 38, 9);
}

#safari-doc-link {
  border-bottom: 3px solid rgb(39, 167, 241);
}

#chrome-doc-link:hover,
#firefox-doc-link:hover,
#safari-doc-link:hover {
  border-bottom: 5px solid;
}

#nav-tab span {
  flex: 1 1 auto;
}

#image-upload-container {
  float: left;
}

#background-color-picker {
  height: 38px;
  width: 50px;
  padding: 0;
  cursor: pointer;
  border: none;
  padding: 2px;
  margin-left: 50px;
}

#image-capture-container {
  width: 800px;
  text-align: center;
}

#capture-frame-btn {
  margin: 0 auto;
  margin-bottom: 2vh;
}

#vid-cap-container {
  text-align: center;
  width: 800px;
}

#record-icon {
  padding: 0;
}

#record-icon svg {
  width: 15px;
  height: 15px;
  color: black;
}

#prev-img-container {
  width: 100%;
}

.card-img-top {
  display: block;
  margin-left: calc((100% - 300px) / 2);
}

#preview-video {
  margin: auto;
}

#vid-ins-container {
  display: block;
}

#record-canvas-btn {
  margin: 0 auto;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

#vid-ins-popover {
  margin-left: 15px;
  margin-top: -15px;
  padding: 2px 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

#vid-ins-popover:hover {
  background-color: #ffffff;
  border: none;
  border-color: white;
}

#record-canvas-btn span {
  margin-left: 5px;
}

#download-video-btn {
  display: block;
  margin: 0 auto;
  width: 150px;
  background-color: antiquewhite;
}

#download-img-btn {
  margin-top: 1vh;
  margin-bottom: 3vh;
}

#download-video-btn:hover {
  background-color: rgb(255, 235, 208);
}

#github-link {
  position: absolute;
  top: 0;
  right: 2vh;
  width: 35px;
}

#audio-denial-toast {
  position: absolute;
  top: 2px;
  left: 1vw;
}

#toast-title {
  color: red;
}

/* For responsiveness */
@media only screen and (max-width: 1190px) {

  #event-container{
    display: block;
    padding-left: 90px ;
  }

  #event-container > div{
    display: flex;
    flex-direction: row;
    padding: 20px;
  }

  #add-background{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (max-width: 992px) {
  #event-container{
    padding-left: 10px;
    padding-right: 80px;
  }

  #nav-tab{
    margin-left: 30px;
    margin-right: 100px;
  }

  /* #tab-container {
    margin-top: 5vh;
  } */

  .webcam-feed {
    display: none;
  }

  canvas {
    margin-left: calc((90vw - 540px) / 2);
    margin-right: calc((90vw - 540px) / 2);
  }

  #background-color-picker {
    margin-left: 15px;
  }

  #image-upload-container {
    margin-left: 20vw;
  }

}

@media only screen and (max-width: 770px) {
  #event-container{
    padding-left: 10px;
  }

  #expmnt-alert {
    position: sticky;
    width: 100%;
    text-align: center;
  }

  #nav-tab {
    margin-left: auto;
    margin-right: 0px;
  }

  #image-capture-container {
    width: 80vw;
    /* 10 + 10 vw is margin  */
  }

  #vid-cap-container {
    width: 80vw;
  }

  #event-container .row {
    float: none;
  }

  .col-6 {
    width: 100% !important;
  }

  canvas {
    width: 450px;
    height: 334px;
  }

}

/* code for the dark mode */
.dark{
  font-size: 1.5em;
  padding: 5px;
}
.switch{
  background-color: rgba(0, 0, 0, 0.753);
  color: #e5e9e9;
}